* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    border: 0;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600px;
    cursor: pointer;
}

/* header style */
header {
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;

}

nav>ul {
    display: flex;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}

.banner-discription {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* responsive style qure */
@media screen and (max-width:576px) {
    nav, 
    nav > ul{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
    ul li{
        margin-top: 10px;
    }
    .btn-primary{
        border: 0px;
    }
}

/* teblet for media device */
@media screen and (min-width:577px) and (max-width:960px) {
    nav{
        flex-direction: column;

    }
    header{
        padding: 20px;
    } 
    
}
/* main style */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section style */


.teams-conteiner{
    display: flex;
    align-items: center;
}

.teams-img-conteiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-contein{
    margin-right: 70px;
    margin-left: 70px;
}
.teams-contein-title{
    font-size: 2.8rem;
}
.teams-contein-title .Quick-list{
    color: #727272;
    font-weight: 400px;

}
.teams-contein-title .of-Our{
    color: #131313;
    font-weight: 700px;

}
.teams-contein-title .Features{
    color: #FF900E;
    font-weight: 700px;
}

.teams-discription{
    font-weight: 400px;
    font-size: 1rem;
    color: #727272;
}









